
main {
    //height: 100vh;
    //overflow-x: hidden;
    //overflow-y: scroll;
    //perspective: 1px;
    //flex: 1;

    .content {
        width: 100%;

        .modal-wrap {
            height: 100vh;
            width: 100vw;
            position: fixed;
            pointer-events: none;
            z-index: 999999999;

            .mask {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.5);
                transition: opacity .3s;
                opacity: 0;
            }



            .modal {
                background: #fff;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                position: relative;
                transition: all .3s;
                transform: scale(0.8);
                opacity: 0;
                align-items: flex-start;
                text-align: left;
                box-sizing: border-box;
                color: #333;
                top: -6vh;
                height: initial;
                display: none;
            }
        }

        #home {
            position: relative;
            height: calc(100vh + 50px);
            width: 100%;
            font-size: 28pt;
            font-weight: bold;
            flex: 1 0 auto;
            color: #fff;
            overflow: hidden;
            //display: none;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-size: 100%;
                transform: translateZ(-1px) scale(2.1);
                z-index: -1;
                background: radial-gradient(ellipse at bottom, #171b2e 10%, #000000 80%);
            }

            @function multiple-box-shadow ($n) {
                $value: '#{random(2000)}px #{random(2000)}px #FFF';
                @for $i from 2 through $n {
                    $value: '#{$value} , #{random(3000)}px #{random(2000)}px #FFF';
                }

                @return unquote($value)
            }
            $shadows-small:  multiple-box-shadow(300);
            $shadows-medium: multiple-box-shadow(200);
            $shadows-big:    multiple-box-shadow(100);
            @keyframes animStar {
                from {
                    transform: translateY(0px);
                }
                to {
                    transform: translateY(-2000px);
                }
            }
            @-webkit-keyframes animStar {
                from {
                    transform: translateY(0px);
                }
                to {
                    transform: translateY(-2000px);
                }
            }
            .stars {
                background-color: transparent;
                border-radius: 50%;
                &:after {
                    border-radius: 50%;
                    content: " ";
                    position: absolute;
                    top: 2000px;
                    background: transparent;
                }
            }
            #stars1 {
                width: 1px;
                height: 1px;
                box-shadow: $shadows-small;
                animation: animStar 70s linear infinite;

                &:after {
                    width: 1px;
                    height: 1px;
                    box-shadow: $shadows-small;
                }

            }
            #stars2{
                width: 2px;
                height: 2px;
                box-shadow: $shadows-medium;
                animation: animStar 90s linear infinite;

                &:after {
                    width: 2px;
                    height: 2px;
                    box-shadow: $shadows-medium;
                }

            }
            #stars3 {
                width: 3px;
                height: 3px;
                box-shadow: $shadows-big;
                animation: animStar 120s linear infinite;

                &:after {
                    width: 3px;
                    height: 3px;
                    box-shadow: $shadows-big;
                }

            }

            .home-text {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left:0;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 62px;

                @-webkit-keyframes left-slide {
                    0% {
                        opacity: 0;
                        -webkit-transform: translate3d(-3000px, 0,0);
                        transform: translate3d(-3000px, 0,0);
                    }
                    60% {
                        opacity: 1;
                        -webkit-transform: translate3d(20px, 0,0);
                        transform: translate3d(20px, 0,0);
                    }
                    75% {
                        -webkit-transform: translate3d(-10px,0,0);
                        transform: translate3d(-10px,0,0);
                    }
                    90% {
                        -webkit-transform: translate3d(5px,0,0);
                        transform: translate3d(5px,0,0);
                    }
                    100% {
                        -webkit-transform: translateZ(0);
                        transform: translateZ(0);
                    }
                }
                @-webkit-keyframes right-slide {
                    0% {
                        opacity: 0;
                        -webkit-transform: translate3d(3000px, 0,0);
                        transform: translate3d(3000px, 0,0);
                    }
                    60% {
                        opacity: 1;
                        -webkit-transform: translate3d(-20px, 0,0);
                        transform: translate3d(-20px, 0,0);
                    }
                    75% {
                        -webkit-transform: translate3d(10px,0,0);
                        transform: translate3d(10px,0,0);
                    }
                    90% {
                        -webkit-transform: translate3d(-5px,0,0);
                        transform: translate3d(-5px,0,0);
                    }
                    100% {
                        -webkit-transform: translateZ(0);
                        transform: translateZ(0);
                    }
                }

                .home__greeting {
                    text-align: center;
                    display: block;

                    p {
                        margin: 0;
                        animation-duration: 2s;
                    }

                    p.string__animated--left {
                        animation-name: left-slide;
                    }
                    p.string__animated--right {
                        animation-name: right-slide;
                    }

                    span {
                        color: $lightBlue;
                    }

                    .home__span--pink {
                        color: $pink;
                    }

                }

                //@-webkit-keyframes bottom-slide {
                //    0% {
                //        opacity: 0;
                //        -webkit-transform: translate3d(0,3000px,0);
                //        transform: translate3d(0,3000px,0);
                //    }
                //    60% {
                //        opacity: 1;
                //        -webkit-transform: translate3d(0,-20px,0);
                //        transform: translate3d(0,-20px,0);
                //    }
                //    75% {
                //        -webkit-transform: translate3d(0,10px,0);
                //        transform: translate3d(0,10px,0);
                //    }
                //    90% {
                //        -webkit-transform: translate3d(0,-5px,0);
                //        transform: translate3d(0,-5px,0);
                //    }
                //    100% {
                //        -webkit-transform: translateZ(0);
                //        transform: translateZ(0);
                //    }
                //}
                @keyframes bottom-slide {
                    0% {
                        opacity: 0;
                        -webkit-transform: translate3d(0,3000px,0);
                        transform: translate3d(0,3000px,0);
                    }
                    60% {
                        opacity: 1;
                        -webkit-transform: translate3d(0,-20px,0);
                        transform: translate3d(0,-20px,0);
                    }
                    75% {
                        -webkit-transform: translate3d(0,10px,0);
                        transform: translate3d(0,10px,0);
                    }
                    90% {
                        -webkit-transform: translate3d(0,-5px,0);
                        transform: translate3d(0,-5px,0);
                    }
                    100% {
                        -webkit-transform: translateZ(0);
                        transform: translateZ(0);
                    }

                }
                .home__button {
                    position: relative;
                    text-transform: uppercase;
                    font-size: 16pt;
                    padding: 12px 50px 12px 20px;
                    color: #fff;
                    background: 0 0;
                    outline: 0;
                    border: 2px solid #fff;
                    cursor: pointer;
                    -webkit-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                    margin: 15px 0 25px;
                    max-width: 240px;
                    animation: bottom-slide;
                    -webkit-animation-duration: 2s;
                    animation-duration: 2s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;

                    i {
                        transition: transform .3s;
                        position: absolute;
                        right: 15px;
                        top: 20px;
                    }

                    &:hover {
                        background: $lightBlue;
                        border-color: $lightBlue;

                        // ДОДЕЛАТЬ ПЛАВНУЮ АНИМАЦИЮ!!!!
                        //@-webkit-keyframes go-left-right {
                        //    from {
                        //        right: 10px;
                        //    }
                        //    to {
                        //        right: 15px;
                        //    }
                        //}
                        //opacity: 1;
                        //animation: go-left-right .370s infinite alternate;
                        //-webkit-animation: go-left-right .370s infinite alternate;


                        @-webkit-keyframes bounce {
                            0%, 100% {
                                top: 20px;
                            }
                            50% {
                                top: 24px;
                            }
                        }
                        @keyframes bounce {
                            0%, 100% {
                                top: 20px;
                            }
                            50% {
                                top: 24px;
                            }
                        }
                        i {
                            transform: rotate(90deg);
                            -webkit-animation-name: bounce;
                            animation-name: bounce;
                            -webkit-animation-duration: .6s;
                            animation-duration: .6s;
                            -webkit-animation-fill-mode: both;
                            animation-fill-mode: both;
                            -webkit-animation-timing-function: linear;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                            -webkit-animation-iteration-count: infinite;
                        }
                    }
                }
            }
        }

        section {
                padding: 65px 0;
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                & > div {
                    max-width: 1200px;
                }
            }

        section#navMenu {
                animation: popDown .5s;
                background-color: $darkGray;
                border-bottom: 3px solid #04C2C9;
                color: #fff;
                height: 40px;
                width: 100%;
                padding: 45px 25px;
                z-index: 99999999999;

                @keyframes popDown {
                    0% {
                        transform: translateY(-100px);
                    }
                }

                nav {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .active {
                        color: $pink;
                    }

                    div.page-link {
                        margin: 0 20px;
                        cursor: pointer;
                        transition: all .500ms ease-in;
                        text-transform: uppercase;
                        font-size: 16pt;
                        font-weight: bold;

                        &:hover {
                            color: $pink;
                        }
                    }
                }
            }

        section#about {
            background-color: $lightGray;


                .about__contentWrap {
                    width: 100%;
                    display: grid;
                    grid-template-areas: 'about__photo about__bio'
                                            'about__diagram about__diagram';
                    //background-color: cadetblue;

                    .about__photo {
                        height: 400px;
                        grid-area: about__photo;

                        img {
                            height: 100%;
                        }
                    }
                    .about__bio {
                        grid-area: about__bio;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 10%;
                        font-size: 18pt;

                        span {
                            color: #ff5d36;
                            font-weight: bold;

                        }
                    }
                    .about__diagram {
                        grid-area: about__diagram;
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        //align-items: center;
                        justify-items: center;
                        @mixin donut-chart($name, $perc, $size, $width, $base, $center, $color, $textColor: $color, $textSize: 40px) {

                            $color2: $color;
                            $base2: $base;
                            $deg: ($perc/100*360)+deg;
                            $deg1: 90deg;
                            $deg2: $deg;

                            // If percentage is less than 50%
                            @if $perc < 70 {
                                $base: $color;
                                $color: $base2;
                                $color2: $base2;
                                $deg1: ($perc/100*360+90)+deg;
                                $deg2: 0deg;
                            }

                            .donut-chart {
                                &#{$name} {
                                    width: $size;
                                    height: $size;
                                    background: $base;

                                    .slice {
                                        &.one {
                                            clip: rect(0 $size $size/2 0);
                                            -webkit-transform: rotate($deg1);
                                            transform: rotate($deg1);
                                            background: $color;
                                        }

                                        &.two {
                                            clip: rect(0 $size/2 $size 0);
                                            -webkit-transform: rotate($deg2);
                                            transform: rotate($deg2);
                                            background: $color2;
                                        }
                                    }

                                    .chart-center {
                                        top: $width;
                                        left: $width;
                                        width: $size - ($width * 2);
                                        height: $size - ($width * 2);
                                        background: $center;

                                        span {
                                            font-size: $textSize;
                                            line-height: $size - ($width * 2);
                                            color: $textColor;

                                            &:after {
                                                content: '#{$perc}%';
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .card {
                            background: #fff;
                            padding: 20px;
                            margin: 0 20px 0 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .donut-chart {
                                position: relative;
                                border-radius: 50%;
                                overflow: hidden;

                                .slice {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                }

                                .chart-center {
                                    position: absolute;
                                    border-radius: 50%;

                                    span {
                                        display: block;
                                        text-align: center;
                                    }
                                }
                            }

                            h2 {
                                text-align: center;
                                font-weight: bold;
                                text-transform: uppercase;
                                font-size: 18pt;
                                margin: 20px 0;
                            }
                        }

                        @include donut-chart('.chart_HTML', 91, 150px, 25px, #e1e1e1, #fff, #48b2c1);
                        @include donut-chart('.chart_CSS', 87, 150px, 25px, #e1e1e1, #fff, #50c690);
                        @include donut-chart('.chart_JS', 60, 150px, 25px, #e1e1e1, #fff, #f26a4a);
                    }
                }
            }

        section#skills {
            //display: none;

            .skills__content {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                p {
                    text-align: center;
                    i {
                        color: $lightBlue;
                        font-size: 3em;
                        border: 4px solid $lightBlue;
                        padding: 20px;
                        border-radius: 50%;
                    }
                }

                h2 {
                    font-weight: 800;
                    font-size: 1.9rem
                }
                ul li {
                    font-size: 22px;
                }
            }
        }

        section#myProjects {
                background-color: $lightGray;

                .gallery {
                    display: grid;
                    //grid-gap: 6px;
                    align-items: center;
                    justify-items: center;

                    .galleryItem {
                        position: relative;
                        display: block;
                        height: 100%;
                        width: 100%;
                        border-radius: 3px;
                        overflow: hidden;
                        // -webkit-box-shadow: 7px 7px 20px 14px rgba(0,0,0,0.02);
                        // -moz-box-shadow: 7px 7px 20px 14px rgba(0,0,0,0.02);
                        // box-shadow: 7px 7px 20px 14px rgba(0,0,0,0.05);
                        &:nth-child(2n) {
                            display: none;
                        }

                        & > img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                            z-index: 1;
                            position: absolute;
                        }

                        &:hover > .galleryInfo {
                            cursor: pointer;
                            transform: scale(1.2);
                            opacity: 1;

                            h3 {
                                top: 120px;
                            }

                            p {
                                top: 155px;
                            }

                            button {
                                bottom: 40px;
                            }

                        }

                        .galleryInfo {
                            display: block;
                            position: relative;
                            opacity: 0;
                            width: 100%;
                            height: 100%;
                            //background-color: $lightGray;
                            transition: opacity .5s;
                            color: #000;
                            text-align: center;
                            z-index: 999;

                            h3, button, p {
                                position: absolute;
                                left: 0;
                                right: 0;
                                margin: 0 auto;
                                transition: all 0.3s ease-in-out;
                            }

                            h3 {
                                font-size: 18pt;
                                font-family: "raleway-bold", sans-serif;
                                top: 20px;
                            }

                            p {
                                color: $pink;
                                top: 55px;
                            }

                            button {
                                bottom: 0;
                                color: black;
                                background-color: inherit;
                                text-transform: uppercase;
                                text-decoration: none;
                                display: block;
                                border: 2px solid $pink;
                                width: 170px;
                                font-size: 13pt;
                                padding: 7px 0;
                                cursor: pointer;

                                &:hover {
                                    background-color: $pink;
                                    color: #fff;
                                }
                            }

                        }

                        #active {
                            display: block;
                        }

                        .galleryPopUp {
                            display: none;
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, 0.5);
                            overflow: hidden;
                            // overflow:visible;
                            position: fixed;
                            top: 0;
                            left: 0;
                            right: 0;
                            text-align: center;
                            transition: opacity .3s;
                            z-index: 999999;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

                            .popUpContent {
                                width: 900px;
                                //height: 800px;
                                background-color: #fff;
                                // padding:25px 65px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                position: absolute;
                                top: 5%;
                                left: 0;
                                right: 0;
                                margin: 0 auto;

                                & > div, a {
                                    margin: 15px 0;
                                }

                                .slider {
                                    width: 100%;
                                    height: 400px;
                                    margin: 0;
                                    cursor: pointer;
                                    position: relative;

                                    .owl-carousel {
                                        height: 100%;

                                        .owl-stage-outer {
                                            height: 100%;
                                        }

                                        //.slick-list {
                                        //    height: 100%;
                                        //
                                        //    .slick-track {
                                        //        height: 100%;
                                        //    }
                                        //}
                                    }
                                    .owl-nav {
                                        width: 100%;
                                        position: absolute;
                                        bottom: 0;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        z-index: 200000;

                                        button[type='button'] {
                                            width: 64px;
                                            height: 54px;
                                            border: none;
                                            background: rgba(0, 0, 0, 0.3);
                                            color: #fff;
                                            cursor: pointer;
                                            -moz-appearance: none !important;
                                            -webkit-appearance: none !important;
                                            -webkit-user-select: none;
                                            -moz-user-select: none;
                                            -ms-user-select: none;
                                            -o-user-select: none;
                                            user-select: none;
                                            transition: all ease-out .4s !important;

                                            &::-moz-focus-outer, &::-moz-focus-inner {
                                                border: 0;
                                            }

                                            &:focus {
                                                outline: 0;
                                            }
                                            &:active {

                                                font-size: 20pt;
                                                transition: .4s !important;
                                            }
                                        }
                                    }

                                }

                                .sliderDescription {
                                    text-align: left;

                                    h1 {
                                        font-size: 22pt;
                                        line-height: 30pt;
                                        font-weight: bold;
                                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                                    }

                                    p {
                                        font-size: 16pt;
                                        line-height: 18pt;
                                        margin-top: 15px;
                                    }
                                }

                                .popUpNav, .sliderDescription {
                                    padding: 0 35px;
                                }

                                .popUpNav {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;

                                    &:hover a {
                                        cursor: pointer;
                                    }

                                    a.popUpLink {
                                        display: block;
                                        position: relative;
                                        font-weight: bold;
                                        margin: 0;
                                        padding: 8px 0;
                                        height: 50px;
                                        color: #fff;
                                        background-color: $blue;
                                        text-transform: uppercase;
                                        text-decoration: none;
                                        text-align: center;
                                        border: 2px solid $blue;
                                        width: 170px;
                                        font-size: 13pt;
                                        transition: all .3s;
                                        cursor: pointer;

                                        i {
                                            position: absolute;
                                        }

                                        i.fa-external-link-alt {

                                            top: 13px;
                                            display: inline;
                                            left: 8px;
                                        }
                                        i.fa-angle-double-right {
                                            top: 16px;
                                            // right: 2px;
                                            opacity: 0;
                                            // transition: 0.5s steps(2);
                                            // &:target {
                                            //     margin-left: 16px;
                                            // }

                                        }

                                        &:hover {
                                            background-color: #fff;
                                            color: #000;

                                            i.fa-external-link-alt {
                                                // transition: all .4s;
                                                display: none;

                                            }

                                            i.fa-angle-double-right {
                                                @keyframes go-left-right {
                                                    from {
                                                        right: 10px;
                                                    }
                                                    to {
                                                        right: 15px;
                                                    }
                                                }
                                                @-webkit-keyframes go-left-right {
                                                    from {
                                                        right: 10px;
                                                    }
                                                    to {
                                                        right: 15px;
                                                    }
                                                }
                                                opacity: 1;
                                                animation: go-left-right .370s infinite alternate;
                                                -webkit-animation: go-left-right .370s infinite alternate;

                                            }
                                        }
                                    }

                                    a.popUpClose {

                                        width: 80px;
                                        height: 50px;
                                        margin: 0;
                                        position: relative;

                                        span::after {
                                            position: absolute;
                                            content: '';
                                            display: block;
                                            background-color: #bbb;
                                            height: 5px;
                                            width: 40px;
                                            margin-bottom: 5px;
                                            border-radius: 4px;
                                            top: 20px;
                                            right: 20px;
                                            transition: all .4s;
                                        }

                                        span.popUpCloseSpan1::after {
                                            transform: rotate(40deg);
                                        }

                                        span.popUpCloseSpan2::after {
                                            transform: rotate(-40deg);
                                        }

                                        &:hover .popUpCloseSpan1::after {
                                            transform: rotate(400deg);
                                        }

                                        &:hover .popUpCloseSpan2::after {
                                            transform: rotate(320deg);
                                        }
                                    }
                                }
                            }
                        }
                    } // OLD variant

                    .image {
                        width: 100%; //REFACTOR
                        height: 285px; //REFACTOR
                        overflow: hidden;
                        transition: all .4s ease;
                        background: #262629;
                        position: relative;
                        &:hover {
                            .projects {
                                filter: contrast(115%) grayscale(45%);
                                transform: scale(1.25);
                                opacity: .50;
                            }
                            .image-label {
                                opacity: 1;
                                margin-bottom: 0;
                            }
                        }
                        #active {
                            display: block;
                        }

                        .projects {
                            background-size: cover;
                            background-repeat: no-repeat;
                            height: 100%;
                            width: 100%;
                            transform: scale(1.01);
                            transition: all .4s ease;
                        }

                        .image-label {
                            //font-family: Lulo;
                            color: #fff;
                            text-transform: uppercase;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            transition: all .4s ease;
                            //pointer-events: none;
                            opacity: 0;
                            margin-bottom: 25px;

                            h3 {
                                font-size: 22pt;
                                font-family: "raleway-bold", sans-serif;
                            }
                            button {
                                color: #fff;
                                background-color: inherit;
                                text-transform: uppercase;
                                text-decoration: none;
                                display: block;
                                border: 3px solid $lightBlue;
                                width: 170px;
                                font-size: 13pt;
                                //font-weight: bold;
                                padding: 7px 0;
                                cursor: pointer;

                                &:hover {
                                    background-color: $lightBlue;
                                }
                            }

                        }

                        .galleryPopUp {
                            display: none;
                            background: rgba(0, 0, 0, 0.5);
                             //overflow:visible;
                            //overflow: hidden;
                            position: fixed;
                            height: 100vh;
                            width: 100vw;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            transition: opacity .3s;
                            z-index: 999999;
                            //box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

                            .popUpContent {
                                text-align: center;
                                width: 900px;
                                background-color: #fff;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                position: absolute;
                                top: 5%;
                                left: 0;
                                right: 0;
                                margin: 0 auto;

                                & > div, a {
                                    margin: 15px 0;
                                }

                                .slider {
                                    width: 100%;
                                    height: 400px;
                                    margin: 0;
                                    cursor: pointer;
                                    position: relative;

                                    .owl-carousel {
                                        height: 100%;
                                        .owl-stage-outer {
                                            height: 100%;
                                        }
                                    }
                                    .owl-nav {
                                        width: 100%;
                                        position: absolute;
                                        bottom: 0;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        z-index: 200000;

                                        button[type='button'] {
                                            width: 64px;
                                            height: 54px;
                                            border: none;
                                            background: rgba(0, 0, 0, 0.3);
                                            color: #fff;
                                            cursor: pointer;
                                            -moz-appearance: none !important;
                                            -webkit-appearance: none !important;
                                            -webkit-user-select: none;
                                            -moz-user-select: none;
                                            -ms-user-select: none;
                                            -o-user-select: none;
                                            user-select: none;
                                            transition: all ease-out .4s !important;

                                            &::-moz-focus-outer, &::-moz-focus-inner {
                                                border: 0;
                                            }

                                            &:focus {
                                                outline: 0;
                                            }
                                            &:active {

                                                font-size: 20pt;
                                                transition: .4s !important;
                                            }
                                        }
                                    }

                                }

                                .sliderDescription {
                                    text-align: left;

                                    h1 {
                                        font-size: 22pt;
                                        line-height: 30pt;
                                        font-weight: bold;
                                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                                    }

                                    p {
                                        font-size: 16pt;
                                        line-height: 18pt;
                                        margin-top: 15px;
                                    }
                                }

                                .popUpNav, .sliderDescription {
                                    padding: 0 35px;
                                }

                                .popUpNav {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;

                                    &:hover a {
                                        cursor: pointer;
                                    }

                                    a.popUpLink {
                                        display: block;
                                        position: relative;
                                        font-weight: bold;
                                        margin: 0;
                                        padding: 8px 0;
                                        height: 50px;
                                        color: #fff;
                                        background-color: $lightBlue;
                                        text-transform: uppercase;
                                        text-decoration: none;
                                        text-align: center;
                                        border: 2px solid $lightBlue;
                                        width: 170px;
                                        font-size: 13pt;
                                        transition: all .3s;
                                        cursor: pointer;

                                        i {
                                            position: absolute;
                                        }

                                        i.fa-external-link-alt {
                                            top: 13px;
                                            display: inline;
                                            left: 8px;
                                        }

                                        i.fa-angle-double-right {
                                            top: 16px;
                                            opacity: 0;
                                        }

                                        &:hover {
                                            background-color: #fff;
                                            color: #000;

                                            i.fa-external-link-alt {
                                                // transition: all .4s;
                                                display: none;

                                            }

                                            i.fa-angle-double-right {
                                                @keyframes go-left-right {
                                                    from {
                                                        right: 10px;
                                                    }
                                                    to {
                                                        right: 15px;
                                                    }
                                                }
                                                @-webkit-keyframes go-left-right {
                                                    from {
                                                        right: 10px;
                                                    }
                                                    to {
                                                        right: 15px;
                                                    }
                                                }
                                                opacity: 1;
                                                animation: go-left-right .370s infinite alternate;
                                                -webkit-animation: go-left-right .370s infinite alternate;

                                            }
                                        }
                                    }

                                    a.popUpClose {
                                        width: 80px;
                                        height: 50px;
                                        margin: 0;
                                        position: relative;
                                        span::after {
                                            position: absolute;
                                            content: '';
                                            display: block;
                                            background-color: #bbb;
                                            height: 5px;
                                            width: 40px;
                                            margin-bottom: 5px;
                                            border-radius: 4px;
                                            top: 20px;
                                            right: 20px;
                                            transition: all .4s;
                                        }
                                        span.popUpCloseSpan1::after {
                                            transform: rotate(40deg);
                                        }

                                        span.popUpCloseSpan2::after {
                                            transform: rotate(-40deg);
                                        }

                                        &:hover .popUpCloseSpan1::after {
                                            transform: rotate(400deg);
                                        }

                                        &:hover .popUpCloseSpan2::after {
                                            transform: rotate(320deg);
                                        }
                                    }
                                }
                            }
                        }

                        //BACKGROUND_IMAGES
                        .projects-1 {
                            background-image: url(../img/gallery-images/sedona.jpg);
                        }
                        .projects-2 {
                            background-image: url(../img/gallery-images/sedona.jpg);
                        }
                        .projects-3 {
                            background-image: url(../img/gallery-images/sedona.jpg);
                        }
                        .projects-4 {
                            background-image: url(../img/gallery-images/sedona.jpg);
                        }
                        .projects-5 {
                            background-image: url(../img/gallery-images/sedona.jpg);
                        }
                        .projects-6 {
                            background-image: url(../img/gallery-images/sedona.jpg);
                        }
                    }
                }
            }

        section#contactMe {
                background: #252934;
                position: relative;
                padding-top: 95px;

                svg {
                    position: absolute;
                    top: -1px;
                }

                .sectionTitle {
                    color: #fff;
                    &::after {
                        background-color: #fff;
                    }
                }

                .feedback {
                    form {
                        display: flex;
                        flex-direction: column;
                        position: relative;

                        input[type="text"],
                        input[type="email"],
                        textarea {
                            display: block;
                            width: 100%;
                            box-sizing: border-box;
                            outline: none;
                            border: 0;
                            padding: 10px 15px;
                            background: #1E242C;
                            font-size: 12pt;
                            margin-bottom: 5px;
                            color: #fff;
                        }

                        textarea {
                            min-height: 150px;
                            margin-bottom: 40px;
                        }

                        input[type="submit"] {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            // margin: 5px 0 0 0;
                            font-size: 12pt;
                            padding: 10px 30px;
                            color: #fff;
                            background: transparent;
                            outline: 0;
                            border: 2px solid #fff;
                            cursor: pointer;
                            transition: all .5s;

                            &:hover {
                                background: $blue;
                                border-color: $blue;
                            }
                        }

                        #success {
                            opacity: 0;
                        }
                    }
                }
            }
    }

}



