$default-font: "raleway-regular", sans-serif;
$accent: orange;
$text: #080c1c;
$titles: #000;
$lightGray: #F1F1F1;
$middleGray: #4C4C4C;
$darkGray: #1B242F;
$textGray: #8F9AA7;


$pink: #e5298a;
$blue: #2c72e3;
$lightBlue: #0b93ee;
$green: #15ae61;

$gradient_green: #13D3B6;
$gradient_blue: #01B7FB;
// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;


